/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ***** common ****** */

/* colore di default del testo */
.default-color {
  color: white;
}
/* /colore di default del testo */

/* bottone di default */
.botton-default {
  padding: 4px;
  border: none;
  border-radius: 4px;
  background-color: #4a4a4a;
  cursor: pointer;
}
/* /bottone di default */

/* ci permette di posizionare gli elementi in modo affiancato */
.row {
  display: flex;
}
/* /ci permette di posizionare gli elementi in modo affiancato */

/* ***** /common ****** */

/* ***** header ****** */

header {
  height: 35px;
  background-color: black;
}

/* contenitore dei bottoni */
.botton-cantainer {
  z-index: 1;
  padding: 4px;
  position: fixed;
  top: 0;
  right: 0;
}
/* /contenitore dei bottoni */

/* ***** /header ****** */

/* **** main **** */

/* **** debug **** */

/* debug della dimensione del contenitore dell'utente */
.debug .box-utente {
  height: 145px;
  width: 245px;
  background-color: white;
}
/* /debug della dimensione del contenitore dell'utente */

/* **** /debug **** */

/* dimensioni del contenitore di tutte le immagini degli utenti racchiusa nel viewport*/
main {
  height: calc(100vh-115px);
  background-color: black;
  overflow: auto;
}
/* /dimensioni del contenitore di tutte le immagini degli utenti racchiusa nel viewport*/

/* contenitore di tutte le immagini */
.container {
  margin: 0 auto;
  gap: 4px;
  padding: 25px 80px;
  flex-wrap: wrap;
  justify-content: center;
}
/* /contenitore di tutte le immagini */

/* levo i pixel al di sotto dell'immagine */
.box-utente img {
  display: block;
}
/* /levo i pixel al di sotto dell'immagine */

/* contenitore che contiene l'immagine, icona del microfono spento e il nome utente */
.box-utente {
  position: relative;
  top: 0;
  left: 0;
  margin: 5px 0;
}
/* /contenitore che contiene l'immagine, icona del microfono spento e il nome utente */

/* caratteristiche del contenitore del nome utente */
.nome-utente {
  background-color: rgba(102, 113, 122, 0.7);
  padding: 4px 2px;
  position: absolute;
  bottom: 0;
  left: 0;
}
/* /caratteristiche del contenitore del nome utente */

/* **** main **** */

/* ***** footer ***** */

/* contenitore di tutte le icone */
.container-footer {
  width: 100%vw;
  height: 80px;
  background-color: #222222;
  padding: 10px;
  justify-content: space-between;
}
/* contenitore di tutte le icone */

/* grandezza dei contenitori a destra e sinistra del footer */
.footer-small {
  width: 30%;
}
/* /grandezza dei contenitori a destra e sinistra del footer */

/* posiziona gli lementi del bottone in modo centrato */
.box-button {
  text-align: center;
}
/* /posiziona gli lementi del bottone in modo centrato */

/* spazio dato tra i bottoni e l'icona freccetta in su */
.container-footer .box-button,
.icon {
  margin: 0 10px;
}
/* /spazio dato tra i bottoni e l'icona freccetta in su */

/* quando passi il mouse sopra appare licona della manina */
.box-button button {
  cursor: pointer;
}
/* quando passi il mouse sopra appare licona della manina */

/* grandezza dell'icona frecceta in su */
.icon {
  font-size: 12px;
}
/* /grandezza dell'icona frecceta in su */

/* posizionamento deigli elementi lungo l'asse orizontale */
.footer-row {
  align-items: center;
}
/* /posizionamento deigli elementi lungo l'asse orizontale */

/* caratteristiche del bottone */
.car-btn {
  background-color: transparent;
  border: none;
  font-size: 30px;
  margin-bottom: 5px;
}
/* /caratteristiche del bottone */

/* posizionamento del end meeting a destra */
.footer-right {
  text-align: end;
}
/* /posizionamento del end meeting a destra */

/* caratteristiche del bottone end meeting */
.button-end {
  height: calc(100% + 20px);
  width: 118px;
  margin: -10px;
  background-color: #4a4a4a;
  border: none;
  color: red;
  cursor: pointer;
}
/* /caratteristiche del bottone end meeting */

/* cambio colore icona scare */
.green-color {
  color: #4bc800;
}
/* /cambio colore icona scare */

/* ***** footer ***** */
